<div class="mt-3 pb-3">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item content">
        <h3 class="pt-1 pl-3">Filipino Tech List</h3>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a routerLink="/pambungad" class="navbar-item"> Pambungad </a>
        <a routerLink="/komunidad" class="navbar-item"> Komunidad </a>
        <a routerLink="/view/motibasyon" class="navbar-item"> Motibasyon </a>
        <a routerLink="/resources" class="navbar-item"> Mga Resources </a>
        <a routerLink="/view/tumulong" class="navbar-item"> Tumulong </a>
        <a routerLink="/view/ugnay" class="navbar-item"> Makipag-ugnayan </a>
      </div>
    </div>
  </nav>
</div>
