.card {
  margin-bottom: 3rem;
  .card-content {
    display: flex;
    flex-wrap: wrap;

    .image {
      min-width: 150px;
      height: 150px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      img {
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
    }

    .description {
      width: 70%;
      min-width: 100px;
      margin-left: 3rem;
      p {
        max-height: 100px;
        overflow: hidden;
        margin-top: 0.2rem;
      }
      a {
        margin-bottom: 5px;
      }
    }
  }
}
