<app-header></app-header>
<section class="hero is-medium is-link block">
  <div class="hero-body">
    <img src="/assets/flag.png" width="100" alt="" />
    <p class="title">Paunlarin ang sariling atin</p>
    <p class="subtitle">Tuklasin ang mundo ng programming sa wikang Filipino</p>
  </div>
</section>

<section class="block content">
  <div class="page-content">
    <h1>Bakit?</h1>
    <p>
      <i>Intwisyon bago wika.</i>
    </p>
    <p>
      Ang pag-aaral ng programming at pag-aaral ng Ingles ay magkaibang bagay.
      Ang intwisyon at konsepto sa pag-gawa ng mga program at sa pagkabihasa sa
      Ingles ay eksklusibo sa isa't isa. Subalit dahil karamihan ng tutorials,
      aralin, at resources para sa mga mag-aaral ay nasa wikang Ingles, tila ba
      ay nagmumukha itong isang kahingian bago matutuo mag-program. Dahil dito
      ay napagiiwanan ang mga kababayan nating hindi ganun kagaling sa Ingles.
    </p>
    <p>
      Ang simpleng website na ito ay ginawa upang matulungan ang kapwa nating
      Filipino programmers kahit ano man ang nakasanayang wika nila. Nakalista
      dito ang iba't ibang resources, komunidad, tutorials, at content creators
      na ginagamit ang wikang Filipino.
    </p>
    <p>
      Kung nais tumulong, ang website na ito ay open-source at bukas sa malayang
      pag-ambag ng kahit sino. Mangyari lamang na tingnan ang pahinang
      <a routerLink="/view/tumulong">Tumulong</a> para sa karagdagang panuto.
    </p>
    <br /><br /><br />
  </div>
</section>

<section class="hero is-medium is-link block">
  <div class="hero-body">
    <p class="title">Magsimula</p>
    <p class="subtitle">Tuklasin ang mundo ng programming sa wikang Filipino</p>
    <div class="page-content">
      <div class="cta-flex">
        <div class="cta box">
          <img src="/assets/books.png" alt="" />
          <div class="content">
            <h3>Mga Resources</h3>
            <p>
              Mga programming tutorial, video, channels, at resources sa wikang
              Filipino.
            </p>
          </div>
          <a routerLink="/resources" class="button is-link is-fullwidth">
            Buksan &nbsp; <i class="fas fa-arrow-right"></i>
          </a>
        </div>

        <div class="cta box">
          <img src="/assets/like.png" alt="" />
          <div class="content">
            <h3>Mga Komunidad</h3>
            <p>Hanapin ang mga komunidad na pwede mong masalihan.</p>
          </div>
          <a routerLink="/komunidad" class="button is-link is-fullwidth">
            Buksan &nbsp; <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block content">
  <br /><br />
  <div class="page-content">
    <h1>Wika, Kultura, at Lipunang Filipino</h1>
    <p>
      <i>Matibay na komunidad</i>
    </p>
    <p>
      Ang teknolohiya ay may malaking ambag sa hinaharap. Hindi maikakaila na
      ang pagbuo ng mga software ang isa sa mga kakailanganin sa bagong
      hangganang na ito. Isang malaking hakbang upang mahikayat ang mga software
      contributors ay ang adhikaing idemokratisa ang mga key technologies para
      dito. Kasama sa layuning ito ay gawing inklusibo ang software development
      para sa ating mga mga kababayan.
    </p>
    <p>
      Sa paggamit ng wikang Filipino sa larangan ng software development, sa
      aking opinyon, ay mapapalapit ang wikang Filipino sa mga konsepto ng
      software development at mapapadali ang pag-aaral nito. Sa aking pananaw,
      ang paggamit din ng wikang Filipino sa software development ay mas
      madaling behikulo papunta sa globalisasyon at internasyonalisasyon kumpara
      sa mga larangan na matagal nang naitatag, ito ay sa kadahilanang ito ay
      bago at hilaw pa at marami pang oportunidad upang makilahok ang mga
      Pilipino at ang ating wika.
    </p>
    <p>
      Ang paggamit ng pansariling wika sa software development ay magbibigay
      daan upang makabuo tayo ng aktibong lokal na komunidad at makatatag ng
      matibay na propesyonal na kulturang panteknolohiya.
    </p>
    <br />
    <a routerLink="/view/motibasyon" class="button is-link">
      Basahin ang buong motibasyon &nbsp; <i class="fas fa-arrow-right"></i>
    </a>
  </div>
  <br /><br />
</section>

<section class="hero is-medium is-link block">
  <div class="hero-body">
    <p class="title">Tumulong</p>
    <p class="subtitle">
      Ang website na ito ay open-source at bukas sa malayang pag-ambag ng kahit
      sino.
    </p>

    <a href="https://github.com/JustroX/fil-tech-list" class="button"
      ><i class="fab fa-github"></i> &nbsp; I-edit sa Github
    </a>

    &nbsp;
    <a routerLink="/view/tumulong" class="button">
      Tumulong &nbsp; <i class="fas fa-arrow-right"></i>
    </a>
  </div>
</section>

<br /><br /><br />

<app-footer></app-footer>
