<app-header></app-header>

<section class="hero is-medium is-primary block">
  <div class="hero-body">
    <p class="title">Tulungan ang Sarili</p>
    <p class="subtitle">
      Mga programming tutorial, video, channels, at resources sa wikang Filipino
    </p>
  </div>
</section>

<section class="block content">
  <div class="page-content">
    <hr />

    <app-entry-card
      title="Bato"
      subtitle="Joel Bryan Juliano"
      description="Ang Bato ay isang programming language sa wikang Filipino"
      image="/assets/bato.jpg"
      link_website="https://jjuliano.github.io/bato/"
    ></app-entry-card>

    <app-entry-card
      title="Learn Programming with Python"
      subtitle="Juan Academy"
      description="Isang playlist ng tutorial upang matuto ng programming."
      image="https://i3.ytimg.com/vi/htzBfH5qIaE/maxresdefault.jpg"
      link_youtube="https://www.youtube.com/watch?v=htzBfH5qIaE&list=PLS2fxjGsqlJd_V6hQk8zE6I9m80k1aCda"
    ></app-entry-card>
    <app-entry-card
      title="Programming Fundamentals"
      subtitle="SDPT Solutions"
      description="Isang playlist ng tutorial upang matuto ng fundamentals ng programming."
      image="https://i3.ytimg.com/vi/ORm3CexT3wE/maxresdefault.jpg"
      link_youtube="https://www.youtube.com/playlist?list=PLVnJhHoKgEmo27CVYZulSIbSaYDpEpzbg"
    ></app-entry-card>
    <app-entry-card
      title="What is the Web?"
      subtitle="Carlos Panganiban"
      description="Presentasyon upang maintindihan kung paano gumagana ang Web."
      image="https://i3.ytimg.com/vi/o3lm9CeVyq0/maxresdefault.jpg"
      link_youtube="https://www.youtube.com/watch?v=o3lm9CeVyq0"
    ></app-entry-card>
    <app-entry-card
      title="Computer Science et. al."
      subtitle="Atcha Abe"
      description="Mga talks at video tungkol sa Computer Science."
      image="https://i3.ytimg.com/vi/d8U8fAtEBvQ/maxresdefault.jpg"
      link_youtube="https://www.youtube.com/watch?v=d8U8fAtEBvQ&list=PLy3IhfEhrGCFGaMsGzC9XtDkcYmTc7oiT&index=1"
    ></app-entry-card>
    <app-entry-card
      title="Web Development Basic Tutorial"
      subtitle="Juan Man Team"
      description="Isang playlist ng basic tutorial sa web development."
      image="https://i.ytimg.com/vi/P3nWlFnILqI/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCxAO4ZFERkK_9XSvH616XiYhMssQhttps://i3.ytimg.com/vi/N-G5sgVLfkw/maxresdefault.jpg"
      link_youtube="https://www.youtube.com/watch?v=N-G5sgVLfkw&list=PL62_1U3RZwDibcZOfaQZalZU_oJHq54vR"
    ></app-entry-card>
    <app-entry-card
      title="Introduction to Angular 9 | Complete Basic Tutorial"
      subtitle="Sonny Code PH"
      description="Isang tutorial para matutunan ang Angular - isang website framework."
      image="https://i3.ytimg.com/vi/tF2djORL2UI/maxresdefault.jpg"
      link_youtube="https://www.youtube.com/watch?v=tF2djORL2UI&t=238s"
    ></app-entry-card>
    <app-entry-card
      title="Pinoy Game Development Tutorial"
      subtitle="Pinoy Game Dev"
      description="Ang playlist na ito ay nag lalaman ng mga videos na magtuturo kung paano gumawa ng game from scratch hanggang matapos."
      image="https://i3.ytimg.com/vi/7GWTI0iTAZY/maxresdefault.jpg"
      link_youtube="https://www.youtube.com/playlist?list=PL1kU8DWw9IWulwTSGXffWeFscPuDVEwI3"
    ></app-entry-card>
    <app-entry-card
      title="Juan Academy"
      subtitle="Matematika, Programming"
      description="Juan Academy is an educational channel made for students, by the students."
      image="https://yt3.ggpht.com/ytc/AKedOLS5DTP1SNgXhHkjqi_TxNpWTiuKXvNWaERuI8xL=s900-c-k-c0x00ffffff-no-rj"
      link_youtube="https://www.youtube.com/c/JuanAcademy"
    ></app-entry-card>
    <app-entry-card
      title="Atcha Abe"
      subtitle="Computer Science, Content Creator"
      description="Help me, help you"
      image="https://yt3.ggpht.com/BB00Utkljf_UZsz8LbupPFMQJHKCgvAi4D4gqo5bg3VTxQ4wddd3ZTVAsgGjAfek-UG1TbSe=s900-c-k-c0x00ffffff-no-rj"
      link_youtube="https://www.youtube.com/c/AtchaAbe"
    ></app-entry-card>
    <app-entry-card
      title="Pinoy Game Dev"
      subtitle="Game Development"
      description="Dito, sa channel na ito pag uusapan natin lahat ng game development related topics at maari din kayong matutong gumawa ng sarili nyong video games upang ma share ninyo sa iba."
      image="https://yt3.ggpht.com/ytc/AKedOLQIytUeN-07tUQsdlxt8WKvAa_c6eI3oRsYCNIo=s900-c-k-c0x00ffffff-no-rj"
      link_youtube="https://www.youtube.com/c/PinoyGameDev"
    ></app-entry-card>
    <app-entry-card
      title="Darla David"
      subtitle="Computer Science, Content Creator"
      description="Ode to the loud ones and love for computer science."
      image="https://yt3.ggpht.com/qMCTBZwd2NMuUJDShC_CTMtfTLCTOHTVrQXohTas-W3i1hOTCRWx5UHfJsWjrdFdkuVX0XFy1iY=s900-c-k-c0x00ffffff-no-rj"
      link_youtube="https://www.youtube.com/c/DarlaDavid"
    ></app-entry-card>
    <app-entry-card
      title="Code Lagomorph"
      subtitle="Game Development"
      description="Code Lagomorph is a Full-time Solo Indie Filipino Game Developer."
      image="https://yt3.ggpht.com/XJAUifwGyWZlZB5-RujMF8WMQTRWiz2SRS3tdG-xIR1r8caC82h3VVdhSZWRIkC-MnchHqG9ag=s900-c-k-c0x00ffffff-no-rj"
      link_youtube="https://www.youtube.com/c/CodeLagomorph/"
    ></app-entry-card>
    <app-entry-card
      title="a podcast by Pawlean"
      subtitle="Tech"
      description="Is this thing on? Hi, I’m Pauline! Or also known as Pawlean. This is a podcast I created in 2020 as a creative side project in addition to everything else in my online space."
      image="https://podcast.pawlean.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCSzl1SHdFPSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--22a04febbee4a9c29851248129a0fe7b30c86f40/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdDem9MWm05eWJXRjBTU0lKYW5CbFp3WTZCa1ZVT2d0eVpYTnBlbVZKSWcwMk1EQjROakF3WGdZN0JsUTZER2R5WVhacGRIbEpJZ3RqWlc1MFpYSUdPd1pVT2d0bGVIUmxiblJKSWd3Mk1EQjROakF3QmpzR1ZEb01jWFZoYkdsMGVXbFZPZzlqYjJ4dmNuTndZV05sU1NJSmMxSkhRZ1k3QmxRPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--25250704e399b7eace9a4c2dfeb0ef445eea7c20/9986A6FB-60BD-4D9C-A528-AFE115F37ADB.jpeg"
      link_website="https://podcast.pawlean.com/"
    ></app-entry-card>
    <app-entry-card
      title="Carlos Panganiban"
      subtitle="Computer Science, Content Creator"
      description="Making Filipinos smarter one step at a time."
      image="https://yt3.ggpht.com/ytc/AKedOLTQyrUMutsOfAs-mA6XvHf3FsJpKXKd6wxnX2iQjg=s900-c-k-c0x00ffffff-no-rj"
      link_youtube="https://www.youtube.com/c/CarlosPanganiban/about"
    ></app-entry-card>
    <app-entry-card
      title="Bea D."
      subtitle="Computer Science, Content Creator"
      description="Hello world! I am Bea D. and I am a college student majoring in BS Computer Science."
      image="https://yt3.ggpht.com/ytc/AKedOLQcAvnAStFcA6owx1p-yz15rGQEJRjBvxCcooDw=s900-c-k-c0x00ffffff-no-rj"
      link_youtube="https://www.youtube.com/c/BeaDelRosario/about"
    ></app-entry-card>

    <br /><br /><br />
    <h1>at marami pang iba!</h1>
    <p>
      Kung may nais ipadagdag o ipatanggal ang inyong resources, wag
      mag-atubiling
      <a routerLink="/view/tumulong">tumulong</a> o
      <a routerLink="/view/ugnay">makipag-ugnayan</a>
    </p>
  </div>
</section>

<br /><br /><br />

<app-footer></app-footer>
