<app-header></app-header>

<section class="hero is-medium is-warning block">
  <div class="hero-body">
    <p class="title">Sumali sa mga Komunidad</p>
    <p class="subtitle">Hanapin ang mga komunidad na para sayo</p>
  </div>
</section>

<section class="block content">
  <div class="page-content">
    <h1>Mga Grupo at Organisasyon</h1>
    <p>
      Mga grupo at organisasyon tungkol sa programming, web development, game
      development at iba pa.
    </p>
    <div>
      <br /><br />
      <app-entry-card
        title="IGDA - Manila Chapter"
        subtitle="International Game Developers Association - Manila Chapter"
        description="Ang tungkulin ng organisasyong IGDA sa bansa ay nakatutulong sa lokal na industriya ng game development sa pamamagitan ng pagho-host ng buwanang talks tungkol sa disenyo ng laro, programming, marketing, at produksyon."
        image="https://pbs.twimg.com/profile_images/1099062695175741440/_xk7Ee08_400x400.png"
        link_website="https://www.igda.org.ph/home"
        link_twitter="https://twitter.com/igdaphmnl"
        link_discord="https://discord.com/invite/m64adkU"
      ></app-entry-card>
      <app-entry-card
        title="Women Who Code MNL"
        subtitle="Women Who Code - Manila"
        description="Women Who Code Manila inspires women to excel in technology careers. Hack nights, awesome talks, self organized subgroups & more! Join us on our #Meetup page. 😊"
        image="https://pbs.twimg.com/profile_images/997171196897648641/m_VkqXd8_400x400.jpg"
        link_website="https://www.meetup.com/women-who-code-manila/"
        link_twitter="https://twitter.com/WWCodeManila"
      ></app-entry-card>
      <app-entry-card
        title="Swift PH"
        subtitle="Swift PH"
        description="Komunidad ng iOS, MacOS, watchOS, tvOS developers sa Pilipinas"
        image="https://swift.ph/SwiftPH_Logo.png"
        link_website="https://swift.ph/"
        link_twitter="https://twitter.com/swiftphofficial"
        link_facebook="https://facebook.com/swiftphofficial"
        link_youtube="https://www.youtube.com/channel/UCLf5xfKIpxIA4d3jZEoQhFA"
      ></app-entry-card>
      <app-entry-card
        title="UX PH"
        subtitle="UX Philippines"
        description="Welcome to the Philippines' largest community of individuals passionate about the realm of UX (User Experience), and all things related."
        image="https://www.uxph.org/assets/logo/uxph_logo.svg"
        link_website="https://www.uxph.org/"
        link_twitter="https://twitter.com/uxphofficial"
        link_facebook="https://www.facebook.com/groups/uxphofficial/"
      ></app-entry-card>
      <app-entry-card
        title="PWA Pilipinas"
        subtitle="PWA Pilipinas"
        description="Komunidad ng Progressive Web App enthusiasts at developers sa Pilipinas"
        image="https://pwapilipinas.org/assets/images/logo_black.svg"
        link_website="https://pwapilipinas.org/"
        link_facebook="https://fb.com/PWAPilipinas"
        link_twitter="https://twitter.com/PWAPilipinas"
      ></app-entry-card>
      <app-entry-card
        title="GameDevPH"
        subtitle="Game Dev PH"
        description="Komunidad para sa professionals, students, hobbyists, gamers and enthusiasts upang makilala at suportahan ang isa't isa sa Philippines Game Industry!"
        image="https://cdn.discordapp.com/avatars/690144637738025061/ac4414230a95d621039961a0c3c1a8ed.webp?size=128"
        link_website="https://www.gamedevph.com/"
        link_discord="https://discord.gg/cS3fuXRsZ2"
        link_facebook="https://www.facebook.com/Game-Dev-PH-104794634716171"
      ></app-entry-card>
      <app-entry-card
        title="ROOTCON"
        subtitle="Rootcon"
        description="Premier Hacking Conference sa Pilipinas"
        image="https://pbs.twimg.com/profile_images/1442310464185110536/VUbgw4iS_400x400.jpg"
        link_website="https://www.rootcon.org/"
        link_twitter="https://www.twitter.com/rootconorg"
        link_facebook="https://www.facebook.com/rootcon"
        link_youtube="https://www.youtube.com/c/ROOTCONHackingConference"
      ></app-entry-card>
      <app-entry-card
        title="Pinoy Game Dev"
        subtitle="Pinoy Game Dev"
        description="Pag uusapan natin lahat ng game development related topics at maari din kayong matutong gumawa ng sarili nyong video games upang ma share ninyo sa iba."
        image="https://cdn.discordapp.com/icons/771392381752573962/7bbaeffcbc230a9f350f3dbac3e36d61.webp?size=240"
        link_discord="discord.gg/KX8HKpaAsm"
        link_youtube="https://www.youtube.com/c/PinoyGameDev"
      ></app-entry-card>
      <app-entry-card
        title="Angular PH"
        subtitle="Angular PH"
        description="Non Profit Tech Community na nag-oorganisa ng mga events tulad ng meetups, seminars at conferences dito sa Pilipinas para sa mga developer students and professionals."
        image="https://angularph.org/assets/logos/angular-ph-lg.png"
        link_website="https://angularph.org/"
      ></app-entry-card>
      <app-entry-card
        title="ReactJS Philippines"
        subtitle="ReactJS Philippines"
        description="Representative chapter ng ReactJS sa Pilipinas."
        image="/assets/reactjs-ph-logo.png"
        link_website="https://reactjs.org.ph/"
        link_facebook="https://www.facebook.com/groups/reactjsphilippines"
      ></app-entry-card>
      <app-entry-card
        title="NOI-PH"
        subtitle="National Olympiad in Informatics – Philippines "
        description="Taunang programming contest para sa mga Filipino high school students"
        image="https://noi.ph/wp-content/uploads/2016/10/cropped-oglogo.png"
        link_website="https://noi.ph"
      ></app-entry-card>
      <app-entry-card
        title="Programming Philippines"
        subtitle="Programming Philippines FB Group"
        description="Komunidad ng Filipino programmers"
        image="https://scontent.fwnp1-1.fna.fbcdn.net/v/t1.6435-9/69950744_121533495886236_7172618044567453696_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=8631f5&_nc_eui2=AeHC8lz22_tkZFsT1kIXMHx8j5yOepRIcpKPnI56lEhykjbKsph5ebpXcGi0wkl_fMomjvVqy2-4z9jcngzhwsrY&_nc_ohc=dcjJtRiODZoAX-ZZ9NU&_nc_ht=scontent.fwnp1-1.fna&oh=00_AT9nNCEbu11iqwqXrWNHe0QRsdX_wiZfpnQzrol7KlbNBg&oe=61E7FD6D"
        link_facebook="https://www.facebook.com/groups/649943542157470"
      ></app-entry-card>
      <app-entry-card
        title="JAMstack Manila"
        subtitle="JAM stack Manila"
        description="Welcome to JAMstack Manila! This group is for anyone who's interested in developing modern web applications using the architecture based on client-side JavaScript, reusable APIs, and prebuilt Markup."
        image="https://secure.meetupstatic.com/photos/event/b/5/e/clean_488342910.jpeg"
        link_website="https://www.meetup.com/JAMstack-Manila/"
      ></app-entry-card>
      <app-entry-card
        title="GDAP"
        subtitle="Game Developers Association of the Philippines"
        description="The Game Developers Association of the Philippines (GDAP) is a trade association in the Philippines, established in 2007 to represent and promote the country's game development industry. Its members create and publish interactive games and entertainment content for various platforms."
        image="http://www.gdap.org.ph/wp-content/uploads/2018/05/gdap-logo-final.jpg"
        link_website="https://www.gdap.org.ph/"
      ></app-entry-card>
    </div>
    <br /><br /><br />
    <h1>at marami pang iba!</h1>
    <p>
      Kung may nais ipadagdag o ipatanggal na grupo, wag mag-atubiling
      <a routerLink="/view/tumulong">tumulong</a> o
      <a routerLink="/view/ugnay">makipag-ugnayan</a>
    </p>
  </div>
</section>

<br /><br /><br />

<app-footer></app-footer>
